a:link,a:visited
{
display:block;
font-weight:bold;
font-size:50px;
font-family:sans-serif;
color:#FFFFFF;
background-color:#ADFF2F;
width:20%;
text-align:center;
padding:6px;
border-radius:250%;
text-decoration:none;
}
a:hover,a:active
{
text-decoration:underline;
background-color:#008000;
}